.project-section {
    height: 100%;
    background-color: #fff;
}

.project-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    width: 100%;
}

.margin-div {
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; */
        /* display: flex;
        flex-direction: column; */
        padding: 5% 12%;
}

.margin-div h2 {
    font-size: 6rem;
    color: darkseagreen;
    float: right;
}