.container-layout {
    min-height: 75vh;
} 

.project-section {
    height: 100%;
    background-color: #fff;
}

.project-heading  {
    display: flex;
    justify-content: flex-end;
    font-size: 6rem;
    font-family: 'Prata';
    color: #8fbc8f;
    margin: 5% 10% 2% 0;
}

.card-div {
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.project-tiles {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: flex-end;
    /* float: bottom; */
    height: 50vh;
    width: 100%;
}

.project-tiles p {
    position: absolute;
    z-index: 2;
}

.project-img {
    max-height: 100%;
    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    /* transition: background 0.5s ease;  */
}

.project-img:hover {
    opacity: 0.5;
    cursor: pointer;
    /* background: rgba(0, 0, 255, 0.3); */
}