.container-layout {
    min-height: 110vh;
    background-color: #FCFBF9;
}

.about-section {
    height: 100%;
}

.padding-div {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 12%;
}

.about-section h2 {
    color: #003170;
    font-size: 5.2rem;
    font-family: "Prata", serif;
    margin: 20% 0 2%;
}

.about-section h3 {
    font-family: "Prata", serif;
    font-size: 3.2rem;
    color: #306fbf;
    margin: 42% 0 8% 0;
    line-height: 100%;
}

.heading-div {
    flex: 1 1 47%;
    padding-left: 1%;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    flex: 1 1 53%
}

.text-div p {
    line-height: 1.8;
    font-size: 1.2em;
    font-family: 'Inconsolata', monospace;
}