.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.div-one,
.div-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #22223b;
    color: #f2e9e4;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 1em 3.5em;
}

.main-heading {
    font-size: 6rem;
    position: relative;
}

.main-heading::before {
    content: "";
    display: block;
    border-top: 10px solid #FFFACC; 
    margin-bottom: 10px;
    width: 50%;
  }

.sub-heading {
    font-size: 2rem;
    margin-top: 2%;
}

