.container-layout {
    height: 100vh;
}

.contact-headings {
    padding: 8% 8% 0 8%;
}

.contact-headings h2 {
    font-size: 6rem;
    color: #8fbc8f;
    font-family: "Prata", serif;
}

.contact-headings h3 {
    font-size: 1.2rem;
    margin-left: 8%;
    color: #2e4f4f;
    font-family: 'Inconsolata', monospace;
}

.form-div {
    height: 65%;
    width: 44%;
    border-radius: 15px;
    margin: auto;
    padding-top: 4%;
    background-color: #2e4f4f;
}

label-color {
    color: #d9e7e6;
}

.contact-section form {
    width: 70%;
    margin: auto;
}

.contact-section button {
    background-color: #d9e7e6;
    color: #2e4f4f;
}

/* Smaller screen styles */

/* form div width of 80% */