.container-layout {
    height: 105vh;
    position: relative;
} 

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
    height: 100%;
}

.contact {
    font-size: 5rem;
    color: #FCF6DE;
    position: absolute;
    /* left: 1em;
    top: 1em; */
    margin: 1% 4%;
    font-family: "Prata", serif;
}


.left-column {
   background-image: url(./plant.jpg); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.right-column {

 display: flex;
 align-items: center;
 justify-content: center;
  background-color: #F9F7F0;  
}

.form-div {
    display: flex;
    height: 70vh;
    width: 90%;
}