.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22223b;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #f2e9e4;
    font-size: 1.1rem;
}

.copyright {
  margin-top: 1%;
}




