header {
    /* Set the background color to transparent */
    background-color: transparent;
    /* Fix the navigation bar to the top of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
}

.nav-bar {
    font-family: 'PT Sans', sans-serif;
    background-color: inherit;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 2rem;
}

li>* {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2e9e4;
    padding: 1rem;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    display: inline-block;
}

li {
    padding-top: 1rem;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #FFFACC;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}