.container-layout {
    display: flex;
    justify-content: center;
    height: 35vh;
    background-color: #fff;
    /* background-color: #d9e7e6; */
} 

.resume-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.resume-div h1 {
    font-size: 3.5rem;
    font-family: "Prata", serif;
    color: #8fbc8f;
    margin-bottom: 2%;
}

.resume-div button {
    font-size: 1.2rem;
    font-family: "Prata", serif;
    background-color: #2e4f4f;
    color:#fff;
    height: 20%;
    width: 40%;
    border-radius: 16px;
}